@use './global.scss';
@use './normalize.scss';

body {
  font-family: Roboto;
  background-color: #f8fafb;
  overflow: hidden;
}

.leftMenu {
  width: 70px;
  height: '100vh';

  transition: all 0.3s;
}

.leftMenu:hover {
  width: 230px;
}
