.title {
  font-size: 16px;
  font-weight: normal;
  padding: 16px;
  border: 1px solid $borderColor;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  background-color: #ffffff;
  margin: 0;
}
