.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.doneButton {
  margin-top: 32px !important;
  border-radius: 16px !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  padding: 20px 0 !important;
}

.label {
  font-weight: 600;
  margin-right: 4px;
}
