.container {
  width: 550px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
